@use "../abstracts" as *;

.filter-group {
  @include container-styles;

  padding: var(--space-5) var(--space-4);
  background-color: var(--color-component-background);
  transform: translateY(-50%);
  border-radius: 0.6rem;

  &__form {
    display: flex;
    align-items: center;
  }

  &__title-input {
    @include input-styles;
  }

  &__icon-buttons {
    display: flex;
    margin-left: auto;

    @include mq(tablet) {
      display: none;
    }
  }

  &__icon-button {
    &:not(:last-child) {
      margin-right: var(--space-2);
    }
    &--filter {
      @include button-styles(secondary, default, icon);
    }

    &--search {
      @include button-styles(primary, default, icon);
    }
  }
}
