@use "../abstracts" as *;

.filter-group {
  background-color: var(--color-component-background);
  transform: translateY(-50%);
  border-radius: 0.6rem;
  padding: var(--space-3) var(--space-4);

  @include mq(tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__item-box {
    display: flex;
    align-items: center;

    @include mq(tablet) {
      max-width: 30%;
      padding-top: var(--space-6);
      padding-bottom: var(--space-6);

      &:not(:nth-of-type(1)) {
        padding-left: var(--space-4);
      }

      &:not(:nth-of-type(3)) {
        border-right: 1px solid var(--color-background);
      }
    }
  }

  &__item-input {
    @include input-styles;
  }

  &__title-icon {
    display: none;

    @include mq(tablet) {
      display: block;
    }
  }

  &__location-box {
    display: none;

    @include mq(tablet) {
      display: flex;
    }
  }

  &__full-time-box {
    @include checkbox-styles;
    display: none;

    @include mq(tablet) {
      display: flex;
    }
  }

  &__full-time-label {
    display: flex;
    align-items: center;
    width: max-content;
  }

  &__full-time-label-text {
    font-weight: var(--font-weight-bold);
    margin-left: var(--space-4);
    color: var(--color-heading);
  }

  &__full-time-label-text-only {
    display: none;

    @include mq(desktop) {
      display: inline-block;
    }
  }

  &__search-button {
    display: none;

    @include mq(tablet) {
      @include button-styles(primary);
      margin-left: auto;
    }
  }

  &__icon-buttons {
    display: flex;
    margin-left: auto;

    @include mq(tablet) {
      display: none;
    }
  }

  &__icon-button {
    &:not(:last-child) {
      margin-right: var(--space-2);
    }
    &--filter {
      @include button-styles(secondary, default, icon);
    }

    &--search {
      @include button-styles(primary, default, icon);
    }
  }
}
