@use "../abstracts" as *;

.job-card {
  position: relative;
  grid-column: 1 / -1;
  padding: 0 var(--space-4);
  border-radius: 0.6rem;
  background-color: var(--color-component-background);
  animation: moveUp 0.5s;
  backface-visibility: hidden;

  @include mq(tablet) {
    grid-column: span 6;
  }

  @include mq(desktop) {
    grid-column: span 4;
  }

  &__content {
    padding-top: var(--space-10);
    padding-bottom: var(--space-8);
    color: var(--color-text-secondary);
  }

  &__company-logo-box {
    width: 5rem;
    height: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    transform: translateY(-50%);
  }

  &__position {
    @include heading-styles(h3);
    margin-top: var(--space-2);
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__company {
    margin-top: var(--space-2);
  }

  &__location {
    @include heading-styles(h4);
    margin-top: var(--space-7);
  }
}
