@use "../abstracts" as *;

.job-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-12);
  padding-bottom: var(--space-8);

  &__grid {
    @include grid-styles;
    row-gap: var(--space-12);

    @include mq(tablet) {
      column-gap: var(--space-4);
      row-gap: var(--space-14);
    }

    @include mq(desktop) {
      column-gap: var(--space-6);
    }
  }

  &__button {
    @include button-styles(primary);
    margin-top: var(--space-8);
  }
}
