@use "../abstracts" as *;

.modal {
  animation: fadeIn 0.2s;
  &__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

  &__form-container {
    @include container-styles;
    width: 100%;
  }

  &__form {
    width: 100%;
    background-color: var(--color-component-background);
    border-radius: 0.6rem;
    position: relative;
    z-index: 1;
    padding: var(--space-8) 0;
  }

  &__location-input-box {
    display: flex;
    align-items: center;
    padding: 0 var(--space-6);
  }

  &__location-input {
    @include input-styles;
    margin-left: var(--space-4);
    flex: 1;
  }

  &__line {
    border: none;
    border-top: 1px solid var(--color-background);
    margin: var(--space-6) 0;
  }

  &__full-time-box {
    @include checkbox-styles;
  }

  &__full-time-label {
    padding: 0 var(--space-6);
    display: flex;
    align-items: center;
  }

  &__full-time-label-text {
    margin-left: var(--space-4);
    color: var(--color-heading);
    font-weight: var(--font-weight-bold);
  }

  &__button-container {
    padding: 0 var(--space-6);
  }

  &__button {
    @include button-styles(primary, full);
    margin: 0 auto;
    margin-top: var(--space-10);
  }
}
