@use "../abstracts" as *;

:root,
:root[data-theme="light"] {
  // COLORS
  --color-primary: #{$color-primary-violet};
  --color-primary-light: #{$color-primary-lightViolet};
  --color-background: #{$color-secondary-lightGray};
  --color-text-primary: #{$color-secondary-darkGray};
  --color-text-secondary: #{$color-secondary-darkGray};
  --color-heading: #{$color-primary-midnight};
  --color-component-background: #{$color-secondary-white};
  --color-primary-button-background: #{$color-primary-violet};
  --color-primary-button-background-hover: #{$color-primary-lightViolet};
  --color-primary-button-text: #{$color-secondary-white};
  --color-secondary-button-background: #{$color-secondary-button-background-light};
  --color-secondary-button-background-hover: #{$color-secondary-button-background-hover-light};
  --color-secondary-button-text: #{$color-primary-violet};
}

:root {
  &[data-theme="dark"] {
    --color-background: #{$color-primary-midnight};
    --color-text-primary: #{$color-secondary-lightGray};
    --color-text-secondary: #{$color-secondary-darkGray};
    --color-heading: #{$color-secondary-white};
    --color-component-background: #{$color-primary-veryDarkBlue};
    --color-secondary-button-background: #{$color-secondary-button-background-dark};
    --color-secondary-button-background-hover: #{$color-secondary-button-background-hover-dark};
    --color-secondary-button-text: #{$color-secondary-white};
  }

  // FONT FAMILIES
  --font-family-body: #{$font-family-body};

  // FONT SIZES
  @each $screen-size, $font-size in $font-sizes {
    @if $screen-size == phone {
      @each $prop, $val in $font-size {
        --font-size-#{$prop}: #{$val};
      }
    } @else if $screen-size == tablet {
      @include mq(tablet) {
        @each $prop, $val in $font-size {
          --font-size-#{$prop}: #{$val};
        }
      }
    }
  }

  // FONT WEIGHTS
  --font-weight-body: #{$font-weight-body};
  --font-weight-bold: #{$font-weight-bold};

  // LINE HEIGHTS
  @each $prop, $val in $line-heights {
    --line-height-#{$prop}: #{$val};
  }

  // SPACE
  @each $prop, $val in $space {
    --space-#{$prop}: #{$val};
  }
}
