$color-primary-violet: #5964e0;
$color-primary-lightViolet: #939bf4;
$color-primary-veryDarkBlue: #19202d;
$color-primary-midnight: #121721;
$color-secondary-white: #ffffff;
$color-secondary-lightGray: #f4f6f8;
$color-secondary-gray: #9daec2;
$color-secondary-darkGray: #6e8098;
