$colors: (
  primary: (
    "violet": #5964e0,
    "lightViolet": #939bf4,
    "veryDarkBlue": #19202d,
    "midnight": #121721,
  ),
  secondary: (
    "white": #ffffff,
    "lightGray": #f4f6f8,
    "gray": #9daec2,
    "darkGray": #6e8098,
  ),
);
