// MEDIA QUERY
@mixin mq($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (min-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 62em) {
      @content;
    }
  }
}

// COMPONENT STYLES
@mixin container-styles {
  padding: 0 var(--space-6);
}

@mixin grid-styles {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
