// MEDIA QUERY
@mixin mq($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (min-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 62em) {
      @content;
    }
  }
}

// COMPONENT STYLES
@mixin container-styles {
  padding: 0 var(--space-6);
}

@mixin grid-styles {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@mixin heading-styles($variant) {
  font-weight: var(--font-weight-bold);

  &--light {
    color: var(--color-primary-midnight);
  }

  &--dark {
    color: var(--color-secondary-white);
  }

  @if $variant == h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
  }

  @if $variant == h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
  }

  @if $variant == h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
  }

  @if $variant == h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    color: var(--color-primary-violet);
  }
}
