// FONT FAMILIES
$font-family-body: "Kumbh Sans", sans-serif;

// FONT SIZES
$font-sizes: (
  phone: (
    "h1": 2rem,
    "h2": 2rem,
    "h3": 2rem,
    "h4": 1.4rem,
    "body": 1.6rem,
  ),
  tablet: (
    "h1": 2.8rem,
    "h2": 2.4rem,
  ),
);

// FONT WEIGHTS
$font-weight-body: 400;
$font-weight-bold: 700;

// LINE HEIGHTS
$line-heights: (
  "h1": 1.2,
  "h2": 1.2,
  "h3": 1.2,
  "h4": 1.28,
  "body": 1.625,
);
